<div>
	<div class="config-container">
	<table class=config>
		<tr>
			<td>Поле: </td>
			<td><textarea [(ngModel)]="game.cellsConfig" placeholder="Например S..T"></textarea></td>
		</tr>
		<tr>
		  <td>Запас энергии: </td>
		  <td><input [(ngModel)]="game.robotPower" placeholder="0"></td>
		</tr>
	</table>
	<button (click)="game.getCommands()" class="compute-route-btn">Рассчитать маршрут</button>
  </div>
  <div class="rules">
  	<p>Программа рассчитывает для робота оптимальный маршрут от стартовой до конечной точки</p>
  	<p>Поле задаётся строкой. Допустимые элементы — S (начальная точка маршрута), T (конечная точка), . (доступная для проезда клетка), # (заблокированная).</p>
  	<p>Элементы S и T должны быть оязательно и присутствовать в единственном количестве. Поле должно быть квадратным</p>
  	<p>Изначально робот направлен вперёд. Доступные команды — повернуть налево, повернуть направо, проехать вперёд. Каждая команда тратит одну единицу энергии.</p>
  </div>
</div>